
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    @Html.Label("Page Navigation");
    <div>
        @Html.ActionLink("Index", "Index", "FirstHtml");
    </div>
</body>
</html>
